.joke {
    margin: 1rem;
    padding: 1rem;
    background-color: #C98474;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: center;
    color: white;
}

.joke h2 {
    font-size: 2rem;
    color: #16213E;
}

.joke h3 {
    color: #16213E;
    margin: 0;
    font-size: 1rem;
}